img { 
    height: 150 px;
}

.description {
    font-size: 20 px;
}

#cook-time { 
    font-weight: bold;
}

.ingredients {
    list-style: square;
}

.time {
    color: gray;
}

.external-link {
    color: seagreen;
}

h1, h2, p, li {
    font-family: Helvetica, sans-serif;
}